section{
    display: grid;
    grid-template-columns: auto auto;
    gap: 2rem;
}
.items{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background-color: rgb(102, 100, 100);
 
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
}
button{
    width: 100px;
    height: 30px;
    background-color: rgb(4, 4, 68);
    color: rgb(182, 125, 17);
}
#cart{
    text-align: center;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: auto;
    gap: 2rem;
}
.cart-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(102, 100, 100);
    color: white
}